/* 
    Document   : administrador
    Created on : 19/12/2013, 12:24:13
    Author     : Roberto
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

/*Somente no usuário administrador*/
#menuAdministrador{
    position: absolute;
    margin-top: 265px;
    margin-left: 10px;
    height: 30px;
    width: 340px;
}

#menuAdministrador ul li{
    display: inline;
    float: left;
    height: 30px;
    width: 160px;
    text-align: center;
    margin-right: 5px;
    background-color: #5F9EA0;
    border-radius: 10px;
}

#menuAdministrador ul li a{
	display: block;
	margin-top: 5px;
}

td a{
	color: #000;
}