#conteudoAlterarSenha{position:relative;margin-top:10px;display:block;min-height:257px;width:960px;background-color:#2fbcd5}#conteudoAlterarSenha fieldset{position:absolute;width:395px;margin:10px 282px;padding:0 10px 10px}#conteudoAlterarSenha h1{color:#5f9ea0;font-size:1.8em;text-align:center}label{display:inline-block;width:200px;color:#FFF;font-size:1.2em}input[type=reset],input[type=submit]{height:30px;width:90px}



