/*
.btn-default:hover{
	color: #ccc;
	background-color: #000;
	border-color: #f00;
}

a:hover{
	color: #ccc;
	background-color: #000;
	border-color: #f00;
}
*/
#horario{
	font-size: 1.5em;
	text-align: center;
	margin-bottom: 2%;
	color: #fff;
}

.pontos{
	margin-bottom: 2%;
}

.link, h2{
	color:#fff;
}

.btn-default {
  background-color: #5F9EA0;
  border-radius: 10px;
  margin-left: 10px;
}
        