/* 
    Document   : logado
    Created on : 19/12/2013, 12:01:23
    Author     : Roberto
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

#conteudo table{
    width:800px;
    margin:0 auto;
}
/*border:1px solid blue; testei nas th e td */

#conteudo table tr th{
    min-width: 60px;
    max-width:200px;
} 

#conteudo table tr td{
    min-width: 60px;
    max-width:200px;
    text-align: center;
} 


